@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em; /* espaçamento entre linhas*/
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2em;
}

header, section.normal {
    padding: 20px;
}

section.flex {
    padding: 20px;
    background-color: rgba(209, 206, 206, 0.87);
    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
}

article.media-text {
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap-reverse;
}

article > div.text {
    flex: 1 1 500px;

}

article > div.media {
    flex: 1 0 400px;

   
}

div.media > img {
    display: block;
    margin: auto;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}